$white-color: #fff;
$dark-color: #4c4c4c;
$main-color: #f15e2c;
$grey: #666;
$header-menu-color: #303030;

$font-family: "Nunito Sans Regular","Helvetica Neue", "Arial", sans-serif;

$font-family-bold: "Nunito Sans ExtraBold";

$mobile-width: 600px;
$tablet-width: 1024px;

$numbers: (0,1,2,3,4,5,6,7,8)